# Decision Trees in Python

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Get the Data

In [2]:
df = pd.read_csv('1527344328209_advertising.csv')

In [4]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [7]:
df.drop('Timestamp',axis=1,inplace=True)
df.drop('Ad Topic Line',axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
Daily Time Spent on Site    1000 non-null float64
Age                         1000 non-null int64
Area Income                 1000 non-null float64
Daily Internet Usage        1000 non-null float64
City                        1000 non-null object
Male                        1000 non-null int64
Country                     1000 non-null object
Clicked on Ad               1000 non-null int64
dtypes: float64(3), int64(3), object(2)
memory usage: 62.6+ KB

In [9]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'City', 'Male', 'Country', 'Clicked on Ad'],
      dtype='object')

In [14]:

var = ['City', 'Country']
for v in var:
    print ('\nFrequency count for variable %s'%v)
    #print (df[v].value_counts())
    print(df[v].nunique()/df.shape[0])

Frequency count for variable City
0.969

Frequency count for variable Country
0.237

In [15]:
df.drop('City',axis=1,inplace=True)
df.drop('Country',axis=1,inplace=True)

## Decision Trees

We'll start just by training a single decision tree.

In [16]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Clicked on Ad',axis=1), 
                                                    df['Clicked on Ad'], test_size=0.30, 
                                                    random_state=101)

In [30]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [31]:
dtree = DecisionTreeClassifier(criterion='entropy')

In [32]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [33]:
X_train.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Male'],
      dtype='object')

## Prediction and Evaluation 

Let's evaluate our decision tree.

In [34]:
predictions = dtree.predict(X_test)

In [35]:
from sklearn.metrics import classification_report,confusion_matrix

In [36]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.95      0.95      0.95       157
          1       0.94      0.94      0.94       143

avg / total       0.95      0.95      0.95       300

In [37]:
print(confusion_matrix(y_test,predictions))

[[149   8]
 [  8 135]]

In [ ]:
table(predicted.values.test,final.test$target)